.all-divs {
  display: grid;
  grid-template-rows: 10vh 90vh 100vh 100vh 50vh 20vh;
  grid-template-areas:
    "."
    "."
    "."
    "."
    "."
    ".";
}

.nav {
  display: grid;
  grid-template-columns: 3fr 2fr 5fr 2fr 2fr 2fr 2fr 3fr;
  grid-template-areas: ". logo . menu menu menu contact .";
  background: linear-gradient(#0d0c1f 75%, #100d4900);
  align-items: center;
  color: white;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  padding: 0 10px;
}

.logo {
  text-align: left;
  grid-area: logo;
}

.menu {
  display: flex;
  grid-area: menu;
  align-items: center;
  justify-content: space-around;
}

.contact {
  text-align: right;
  align-items: center;
  grid-area: contact;
}

/* for firstpage */
.fr-page {
  grid-area: content;
}
.idea {
  grid-area: idea;
}
.policy {
  grid-area: policy;
}
.contact-fr {
  grid-area: contact;
}
.first-page {
  display: grid;
  grid-row-end: auto;
  grid-template-columns: 3fr 14.5fr 3fr;
  grid-template-areas: ". content .";
  align-items: center;
}
